#jinja2: trim_blocks: True, lstrip_blocks: True
{% if item.content is defined -%}
{{ item.value.content }}
{% elif item.template is defined %}
{{ lookup('ansible.builtin.template', item.template) }}
{% else %}
{{ lookup('ansible.builtin.file', item.file | mandatory('content, template or file must be specified')) }}
{%- endif %}
