#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro apt_format_option(option, value) -%}
{% if value is bool %}
{{ option }} "{{ value | string | lower }}";
{% elif value is list %}
{{ option }} {
{%   for v in value %}
    "{{ (v | string | lower) if v is bool else (v | string) }}";
{%   endfor %}
};
{% else %}
{{ option }} "{{ value | string }}";
{% endif %}
{% endmacro -%}
